.todo {
  margin-bottom: 18px;
  padding: 8px;
  flex-direction: column;
  border-radius: 8px;
  background-color: #889296;
  color: rgb(31, 56, 71);

  &__text {
    font-size: 12px;
  }

  &__title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    padding: 0;
  }

  &__line__through {
    color: rgb(112, 126, 135);
    text-decoration: line-through;
  }

  &__button {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding: 4px;
    border: 1px solid rgb(64, 80, 77);
    border-radius: 4px;
    background-color: rgb(31, 56, 71);
    font-size: 14px;
    color: rgb(193, 212, 208);
  }

  &__delete-button {
    background-color: rgb(123, 5, 5);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }
}
