.form {
  &__input {
    display: flex;
    width: 380px;
    height: 36px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 18px;

    &:focus {
      border: 1px solid blue;
    }
  }

  &__button {
    margin-left: 6px;
    margin-top: 10px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #086df3;
    font-size: 18px;
    outline: none;
  }

  &__email-error {
    position: absolute;
    top: 82px;
    color: red;
  }

  &__password-error {
    position: absolute;
    top: 146px;
    color: red;
  }

  &__input-wrapper {
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 388px;
  }
}
