.tag {
  padding: 2px;
  display: flex;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.tag-container {
  display: flex;
  justify-content: flex-end;
}

.green {
  border: rgb(0, 124, 0) solid;
  color: rgb(0, 124, 0);
}

.orange {
  border: rgb(226, 131, 42) solid;
  color: rgb(226, 131, 42);
}

.red {
  border: red solid;
  color: red;
}
